[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "*"
pyarrow = "*"
mlflow = "*"
psycopg2 = "*"
hyperopt = "*"
prefect = "==2.0b7"
python-dateutil = "*"
nbconvert = "*"

[dev-packages]
ipykernel = "*"
flake8 = "*"

[requires]
python_version = "3.10"
